<header class="content__title">
    <h1>Crimeservers Detail</h1>
	<small>Details for {{indicator}}</small>
</header>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
        	<div class="row col-md-12">
	            	<div class="row col-md-4">
	            		<div class="col-md-12 text-center">
	            			<label>Severity</label>
	            		</div>
	            		<div class="col-md-12 text-center">
		            		<label style="color: #ff6b68; font-weight: 600;">VERY-HIGH</label>
	                	</div>
	                </div>
	            	<div class="row col-md-4">
	            		<div class="col-md-12 text-center">
	            			<label>Confidence</label>
	            		</div>
	            		<div class="col-md-12 text-center">
		            		<div class="easy-pie-chart" data-percent="85" data-size="120" data-track-color="#eee" data-bar-color="#32c787">
		                    	<span class="easy-pie-chart__value">85</span>
		                	</div>
	                	</div>
	                </div>
	                <div class="row col-md-4">
	            		<div class="col-md-12 text-center">
	            			<label>ThreatScore</label>
	            		</div>
	            		<div class="col-md-12 text-center">
		            		<div class="easy-pie-chart" data-percent="50" data-size="120" data-track-color="#eee" data-bar-color="#ff6b68">
		                    	<span class="easy-pie-chart__value">50</span>
		                	</div>
	                	</div>
	                </div>
	        </div>
	        <div class="card">
        		<div class="card-body">
			        <div class="row col-md-12">
			           	<div class="col-md-4 text-right">
			            	<label>Status</label>
			            </div>
			            <div class="col-md-8 text-left">
				            <label style="font-weight: bold;">{{status | uppercase}}</label>
			            </div>
			        </div>
			        <div class="row col-md-12">
			           	<div class="col-md-4 text-right">
			            	<label>Type</label>
			            </div>
			            <div class="col-md-8 text-left">
				            <label style="font-weight: bold;">{{type}}</label>
			            </div>
			        </div>
			        <div class="row col-md-12">
			           	<div class="col-md-4 text-right">
			            	<label>Indicator</label>
			            </div>
			            <div class="col-md-8 text-left">
				            <label style="font-weight: bold;">{{indicator}}</label>
			            </div>
			        </div>
			        <div class="row col-md-12">
			           	<div class="col-md-4 text-right">
			            	<label>IP</label>
			            </div>
			            <div class="col-md-8 text-left">
				            <label style="font-weight: bold;">195.22.126.203</label>
			            </div>
			        </div>
			        <div class="row col-md-12">
			           	<div class="col-md-4 text-right">
			            	<label>Tags</label>
			            </div>
			            <div class="col-md-8 text-left">
				            <label style="font-weight: bold;"><button type="button" class="btn btn-outline-dark">AZORult</button></label>
			            </div>
			        </div>
			        <div class="row col-md-12">
			           	<div class="col-md-4 text-right">
			            	<label>Last Modified</label>
			            </div>
			            <div class="col-md-8 text-left">
				            <label style="font-weight: bold;">{{last}}</label>
			            </div>
			        </div>
			        <div class="row col-md-12">
			           	<div class="col-md-4 text-right">
			            	<label>Entries</label>
			            </div>
			            <div class="col-md-8 text-left">
				            <label style="font-weight: bold;">1</label>
			            </div>
			        </div>
			        <div class="row col-md-12">
			           	<div class="col-md-4 text-right">
			            	<label>ASN</label>
			            </div>
			            <div class="col-md-8 text-left">
				            <label style="font-weight: bold;">{{asn}}</label>
			            </div>
			        </div>
				</div>
        	</div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">

       	</div>
    </div>
</div>
