<header class="content__title">
    <h1>List Crime Server</h1>
	<small>listado</small>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
            	<div class="table-responsive">
		            <table id="data-table" class="table table-hover table-striped table-sm table-bordered">
		            	<thead  class="thead-light">
                		</thead>
		            </table>
		        </div>
            </div>
        </div>
    </div>
</div>